@import url('./animation.scss');


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
#app { overflow-x: hidden; }
p {
  margin: 0;
  padding: 0;
}

// 让文字显示两行，溢出部分显示省略号
.base-line-two {
  overflow: hidden; 
  text-overflow: ellipsis; 
  display: -webkit-box; 
  -webkit-line-clamp: 2; 
  line-clamp: 2; 
  -webkit-box-orient: vertical;
  word-wrap: break-all;
}
// 让文字显示一行，溢出部分显示省略号
.base-line-one {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

